sh/mshar.html/
c/html/

c/*.exe
c/*.exe.stackdump

c/*.so
c/*.so.*
c/*.dylib
c/*.dll

c/binding/*/*.so
c/binding/*/*.so.*
c/binding/*/*.dll
c/binding/*/*.dylib

c/binding/msharsharp/*/libmshar
c/binding/msharsharp/*/*.so
c/binding/msharsharp/*/*.so.*
c/binding/msharsharp/*/*.dll
c/binding/msharshap/*/*.dylib
c/binding/msharsharp/*/bin
c/binding/msharsharp/*/obj

c/binding/*/__pycache__

c/a.s

c/__pycache__