sh/mshar.html/
c/html/
c/htmldoc/



c/*.exe
c/*.exe.stackdump

c/*.so
c/*.so.*
c/*.dylib
c/*.dll
c/*.dll

c/binding/src/
c/binding/src/*

c/binding/msharsharp/
c/binding/msharsharp/*

c/binding/pymshar/
c/binding/pymshar/*
c/binding/mshar_wrap.c
c/binding/*/__pycache__



c/a.s



c/__pycache__